---
import Section from "@/components/Section.astro";
import { basics } from "@cv";

const { summary } = basics;
---

<Section title="About Me">
	<h3>{summary}</h3>

	<p>
		My name is Cello. I am a designer by day, and developer by
		night. Although my background revolves around the intersection
		between storytelling, design, and systems of management. Lately,
		I spend my days coming up with ways to automate tedious but
		important tasks, as well as the documentation around them.
	</p>
	<p>
		I am passionate about technology, visual storytelling, animal
		rights and most recently privacy. These interests drive my
		design and development process. I'm currently looking to expand
		into a more backend-centric position. I am willing to learn
		anything that will help me get the job done and achieve my
		goals.
	</p>
</Section>
