---
import Section from "@/components/Section.astro";
import { basics } from "@cv";

const { summary } = basics;
---

<Section title="About Me">
	<p>{summary}</p>
</Section>

<style>
	@media (width <= 700px) {
		p {
			line height: 1.2;
			text-align: left;
		}
	}
</style>
