---
import { education } from "@cv";
import Section from "@/components/Section.astro";
---

<Section title="Education">
	<ul>
		{
			education.map(
				({
					institution,
					startDate,
					endDate,
					area,
					minorType,
				}) => {
					const startYear = new Date(
						startDate,
					).getFullYear();
					const endYear =
						endDate != null
							? new Date(
									endDate,
								).getFullYear()
							: "Present";
					const years = `${startYear} - ${endYear}`;

					return (
						<li>
							<article>
								<header>
									<div>
										<h3>
											{
												institution
											}
										</h3>
									</div>

									<time>
										{
											years
										}
									</time>
								</header>

								<footer>
									<h4>
										{
											area
										}
									</h4>
									<p>
										{
											minorType
										}
									</p>
								</footer>
							</article>
						</li>
					);
				},
			)
		}
	</ul></Section
>
<style>
	ul {
		display: flex;
		flex-direction: column;
	}

	article h3 {
		color: var(--color-text);
		line-height: 0.9;
	}

	article p {
		font-weight: 300;
		font-size: 0.85rem;
		text-wrap: pretty;
	}
	article h4 {
		font-size: 1.15rem;
		line-height: 1;
		margin-top: 1rem;
		font-weight: 600;
	}
	header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	time {
		color: var(--color-accent);
		font-size: 0.85rem;
		font-weight: 600;
		font-style: italic;
		cursor: default;
	}

	@media (width <= 700px) {
		time {
			text-align: right;
		}
	}
</style>
