---
import { skills } from "@cv";
import Section from "../Section.astro";
import "@/styles/colors.css";
import AdobeAe from "@/icons/adobe_ae.astro";
import AdobeIl from "@/icons/adobe_il.astro";
import AdobeIndd from "@/icons/adobe_indd.astro";
import AdobePr from "@/icons/adobe_pr.astro";
import AdobePs from "@/icons/adobe_ps.astro";
import AdobeXd from "@/icons/adobe_xd.astro";
import Astro from "@/icons/astro.astro";
import HTML from "@/icons/html.astro";
import CSS from "@/icons/css.astro";
import Figma from "@/icons/figma.astro";
import JavaScript from "@/icons/javascript.astro";
import TypeScript from "@/icons/typescript.astro";
import React from "@/icons/react.astro";
import MySQL from "@/icons/sql.astro";
import Go from "@/icons/go.astro";
import Git from "@/icons/git.astro";
import GitHub from "@/icons/GitHub.astro";
import Php from "@/icons/php.astro";
import Python from "@/icons/python.astro";
import Tailwind from "@/icons/tailwind.astro";

const SKILLS_ICONS: Record<string, any> = {
	"Adobe After Effects": AdobeAe,
	"Adobe Illustrator": AdobeIl,
	"Adobe InDesign": AdobeIndd,
	"Adobe Premiere": AdobePr,
	"Adobe Photoshop": AdobePs,
	"Adobe XD": AdobeXd,
	Astro,
	HTML,
	CSS,
	Figma,
	JavaScript,
	TypeScript,
	React,
	MySQL,
	Go,
	Git,
	GitHub,
	Php,
	Python,
	Tailwind,
};

const getIconName = (name: string) => {
	switch (name) {
		case "Photoshop":
			return "Adobe Photoshop";
		case "Illustrator":
			return "Adobe Illustrator";
		case "After Effects":
			return "Adobe After Effects";
		case "InDesign":
			return "Adobe InDesign";
		case "Premiere":
			return "Adobe Premiere";
		case "XD":
			return "Adobe XD";
		default:
			return name;
	}
};
---

<Section title="Skills">
	<ul>
		{
			skills.map(({ name }) => {
				const iconName = getIconName(name);
				const Icon = SKILLS_ICONS[iconName];

				return (
					<li>
						{Icon && <Icon />}{" "}
						<span>{name}</span>
					</li>
				);
			})
		}
	</ul>
</Section>

<style>
	ul {
		margin-top: 1rem;
		display: inline-flex;
		gap: 8px;
		flex-wrap: wrap;
		padding-inline: 0.8rem;
	}

	li {
		align-items: center;
		background: var(--color-text);
		border-radius: 6px;
		color: var(--color-background);
		display: flex;
		font-size: 0.3rem;
		font-weight: 500;
		gap: 0.05rem;
		padding-block: 0.1rem;
		padding-left: 0.5rem;
	}
</style>
