---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/sections/Hero.astro";
import Experience from "@/components/sections/Experience.astro";
import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Skills from "@/components/sections/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import { basics } from "@cv";
const { name, label } = basics;
---

<Layout title=`${name}'s Resume - ${label}`>
	<main>
		<Hero />
		<About />
		<Experience />
		<Skills />
		<Education />
	</main>
	<KeyboardManager />
</Layout>

<style></style>
