---

---

<footer>
	<h2>i am footer.</h2>
	<script></script>
</footer>
<style>
	footer {
		display: flex;
		align-items: center;
		justify-content: center;
		background: #00bc44;
		text-align: center;
		color: #000012;
		padding: 0;
		bottom: 0;
		padding-block: 0.25rem;
		width: 100%;
	}
	h2 {
		color: #000012;
		font-weight: 800;
		font-size: 1rem;
		margin-block: 0;
	}
</style>
